<nav class="navbar navbar-dark">
	<div id="title" class="container-fluid">
		<h1>
			<strong>Azure Cognitive Services - Computer Vision</strong>
		</h1>
	</div>
</nav>

<div class="formulario">
	<div class="container custom-container">
		<div class="col-md-12">
			<h3 class="mb-3 text-center">
				<strong>Ingrese un enlace aquí</strong>
			</h3>
		</div>
		<div class="col-md-12">
			<form>
				<div class="row row-cols-4">
					<div class="col">
						<label id="url">
							<b>Url de la imagen</b>
						</label>
					</div>
					<div class="col">
						<input id="img_url" class="form-control" [(ngModel)]="dto.img_url" [ngModelOptions]="{standalone: true}">
					</div>
					<div class="col-auto">
						<button class="btn btn-primary btn-lg mb-3" (click)="sendRequestUrl()">Enviar Url de la imagen</button>
					</div>
				</div>
				<div>
					<img src="{{dto.img_url}}" width="50%" height="50%">
				</div>
			</form>
			<div class="col-md-12" *ngIf="response">
				<div>{{response.text}}</div>
			</div>
			<form>
				<div class="row row-cols-4">
					<div class="col">
						<label id="local">
							<b>Imagen local</b>
						</label>
					</div>
					<div class="col">
						<input id="img_local" class="form-control" [(ngModel)]="dtoLocal.img_url" [ngModelOptions]="{standalone: true}">
					</div>
					<div class="col_auto">
						<button class="btn btn-primary btn-lg mb-3" (click)="sendRequestLocal()">Enviar imagen Local</button>
					</div>
				</div>
			</form>
			<div class="col-md-12" *ngIf="responseLocal">
				<div>{{responseLocal.text}}</div>
			</div>
		</div>
	</div>
</div>